In [1]:
import pandas as pd
url='https://ja.wikipedia.org/wiki/%E5%85%A8%E5%9B%BD%E3%83%9D%E3%82%B1%E3%83%A2%E3%83%B3%E5%9B%B3%E9%91%91%E9%A0%86%E3%81%AE%E3%83%9D%E3%82%B1%E3%83%A2%E3%83%B3%E4%B8%80%E8%A6%A7'
dfs=pd.read_html(url)

In [3]:
df_1=pd.DataFrame(columns=['No.','名前'])
for i in range(1,17):
    df_1=pd.concat([df_1,dfs[i]],axis=0)

In [4]:
df_2=pd.DataFrame(columns=['No.','名前'])
for i in range(18,29):
    df_2=pd.concat([df_2,dfs[i]],axis=0)
df_2=df_2.dropna(how='all')

In [5]:
df_3=pd.DataFrame(columns=['No.','名前'])
for i in range(30,44):
    df_3=pd.concat([df_3,dfs[i]],axis=0)
df_3=df_3.dropna(how='all')

In [6]:
df_4=pd.DataFrame(columns=['No.','名前'])
for i in range(45,57):
    df_4=pd.concat([df_4,dfs[i]],axis=0)
df_4=df_4.dropna(how='all')

In [7]:
df_5=pd.DataFrame(columns=['No.','名前'])
for i in range(58,74):
    df_5=pd.concat([df_5,dfs[i]],axis=0)
df_5=df_5.dropna(how='all')

In [8]:
df_6=pd.DataFrame(columns=['No.','名前'])
for i in range(75,84):
    df_6=pd.concat([df_6,dfs[i]],axis=0)
df_6=df_6.dropna(how='all')

In [9]:
df_7=pd.DataFrame(columns=['No.','名前'])
for i in range(85,94):
    df_7=pd.concat([df_7,dfs[i]],axis=0)
df_7=df_7.dropna(how='all')

In [10]:
df_go=pd.DataFrame(columns=['No.','名前'])
for i in range(95,96):
    df_go=pd.concat([df_go,dfs[i]],axis=0)
df_go=df_go.dropna(how='all')

In [11]:
df_8=pd.DataFrame(columns=['No.','名前'])
for i in range(97,107):
    df_8=pd.concat([df_8,dfs[i]],axis=0)
df_8=df_8.dropna(how='all')

In [12]:
df_al=pd.DataFrame(columns=['No.','名前'])
for i in range(108,109):
    df_al=pd.concat([df_al,dfs[i]],axis=0)
df_al=df_al.dropna(how='all')

In [13]:
df=pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_go])
df=df.reset_index(drop=True)

In [17]:
list_drop=[]
for i in range(len(df),0,-1):
    if len(df.iloc[i-1,1]) != 5:
        list_drop.append(i-1)
df=df.drop(list_drop)
df.reset_index(drop=True)

       No.     名前
0        1  フシギダネ
1        2  フシギソウ
2        3  フシギバナ
3        6  リザードン
4        9  カメックス
..     ...    ...
510  894.0  レジエレキ
511  895.0  レジドラゴ
512  896.0  ブリザポス
513  897.0  レイスポス
514    809  メルメタル

[515 rows x 2 columns]

In [18]:
df

       No.     名前
0        1  フシギダネ
1        2  フシギソウ
2        3  フシギバナ
5        6  リザードン
8        9  カメックス
..     ...    ...
891  894.0  レジエレキ
892  895.0  レジドラゴ
893  896.0  ブリザポス
894  897.0  レイスポス
897    809  メルメタル

[515 rows x 2 columns]

In [19]:
import pickle
df_1.to_pickle('df_1.pickle')
df_2.to_pickle('df_2.pickle')
df_3.to_pickle('df_3.pickle')
df_4.to_pickle('df_4.pickle')
df_5.to_pickle('df_5.pickle')
df_6.to_pickle('df_6.pickle')
df_7.to_pickle('df_7.pickle')
df_go.to_pickle('df_go.pickle')
df_8.to_pickle('df_8.pickle')
df_al.to_pickle('df_al.pickle')